

.wrapper{
    display: flex;
    align-items: center;
}

.tg__icon{
    list-style-type: none;
    padding: 0;
}


.center__ul a:hover{
    background-color: #0000003a;
}

.center__tg:hover{
    overflow-y: scroll;
}

.left__tg{
    width: 45px;
    height: 50vh;
    background-color: #0E1621;
}
.center__tg{
    height: 50vh;
    overflow-y: hidden;
    width: 300px;
    background-color: #17212B;
}
.right__tg{
    height: 50vh;
    width: 50%;
    overflow-y: scroll;
    background-color: #0E1621;
}

/* scroll */

::-webkit-scrollbar{
    width: 3px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background: #000000;
}
::-webkit-scrollbar-thumb{
    height: 1px;
    
    background: #aaaaaa;
}
.btn{
    color: white;
}
.btn:hover{
    color: #ffffffa5;
}
.btn:active{
    background-color: #ffffffb8;
}

.newBtn{
    list-style-type: none;
    border: none;
    margin-top: 5px;
    text-align: left;
    background-color: #17212B;
    width: 400px;
}
.newBtn:hover{
    transition: 0.3s ease all;
    background-color: #263038;
}

.newLi{
    color: white;
}
.newLi2{
    color: #5F8091;
    padding: 0;
}
.center__ul{
    overflow: hidden;
    padding: 0;
}

.post{
    list-style-type: none;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    background-color: #25303E;
}

.tg__blue{
    background-color: #2B5278;
    margin-right: 3px;
}

.wrapper{
    border-radius: 10px;
}

.none{
    display: none;
}
.block{
    display: block;
}

.inp1{
    background-color: #0E1621;
    width: 85%;
    border: none;
}
.inp1:active{
    background-color: #0E1621;
}

.frm{
    background-color: #17212B;
    border: none;
    display: flex;
    width: 300px;
    position: sticky;
}
.btn1{
    margin-left: 7px;
    height: 35px;
    background-color: #0E1621;
    color: #6C7883;
    border: none;
    border-radius: 5px;
}
body{
    height: 1000px;
}
.btn2{
    margin-left: 7px;
    height: 35px;
    background-color: #0E1621;
    color: #ebebeb;
    border: none;
    margin-top: 7px;
    border-radius: 5px;
}
.btn3{
    margin-left: 7px;
    height: 35px;
    background-color: #0E1621;
    color: #ebebeb;
    border: none;
    margin-top: 7px;
    border-radius: 5px;
}

.tg__icon{
    display: none;
}